$hfont:'Abel', sans-serif;
$pfont: 'Work Sans', sans-serif;
$lightgreen: #BDDDD0;
$darkgreen: #91C7B1;
$red: #B33951;
$yellow: #E3D081;
$grey: #2F3030;
$ivory: #FEFDFB;

html {
	font-size: 10px;
}

p {
	font-family: $pfont;
	color: $grey;
	font-size: 2.4rem;
	line-height: 3rem;
	text-align: center;
	margin-bottom: 50px;
}

h1 {
	font-family: $pfont;
	text-transform: uppercase;
	color: $lightgreen;
	letter-spacing: 0.3rem;
	font-size: 3.5rem;
	font-size: 10vw;

	span {
		font-family: $hfont;
		color: $darkgreen;
		font-size: 15rem;
		font-size: 43vw;
		letter-spacing: -0.3rem;
		line-height: 40vw;
	}
}

body {
	background: $ivory;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

section {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


	fieldset {
		border: none;
		width: 100%;
		max-width: 800px;
		display: flex;
		flex-direction: row;

		input[type=text] {
			display: inline;
		}
	}

.select2-container--default .select2-selection--single {
	border: 1px solid black;
	background-color: transparent;
	border-radius: 0px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 33px;

	b {
		border-color: black transparent transparent transparent;
	}
}

.select2-container--default .select2-results>.select2-results__options {
	overflow-y: auto;
	overflow-x: hidden;
	font-family: $pfont;
	color: $grey;
	font-size: 2.4rem;
	text-align: center;
	width: 200px;
}

.select2-results__option {
	text-align: left;
}

.select2-container--default .select2-results__option--highlighted[aria-selected]{
	background-color: $yellow;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
	font-family: $pfont;
	color: $grey;
	font-size: 2.4rem;
}
